<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' with title="Uploaded Files List" %}

    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Upload Date</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.LastModified|date:"Y-m-d" }}</td>
                <td>{{ file.size_display }}</td>
                <td>
                    {% comment %} <form action="{{ file.url }}" method="GET">
                        <button type="submit" class="link-button">Download</button>
                    </form> | {% endcomment %}
                    <form action="{% url 'delete_file' file.name|urlencode %}" method="POST" class="no-border-form">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>                                                     
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="centered-text">
        <a href="{% url 'upload' %}">Upload New File</a>
    </p>
</body>
</html>
