<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' with title="Welcome to Cloud Drive" %}

    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'upload' %}">Upload File</a></li>
                <li><a href="{% url 'file_list' %}">View and Manage Files</a></li>
                <li><a href="{% url 'profile' %}">View Profile</a></li> <!-- 新增Profile按鈕 -->
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <footer>
        <p>&copy; 2024 Cloud Application</p>
    </footer>
</body>
</html>
