<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' with title="Upload File" %}

    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose a file (JPG, PDF, TXT):</label>
        <input type="file" name="document" id="document" accept=".png,.jpg,.jpeg,.pdf,.txt" required>
        <button type="submit">Upload</button>
    </form>

    <p class="centered-text">
        <a href="{% url 'file_list' %}">Return to File List</a>
    </p>

    <footer>
        <p>&copy; 2024 Cloud Application</p>
    </footer>
</body>
</html>
